/* Escribe tu css aqui */
div{
	background-color: yellow;
	height: 100px;
	margin: 0px;
	
}
#i{
	background-color: red;
	height: 100px;
	margin: 0px;
	
}
.h{
	background-color: yellow;
	height: 100px;
	margin: 0px;
	
	
}